body {
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.content-zone {
  width: 100%;
  max-width: 1440px;
  padding: 0 160px;
}

.header-img {
  height: 60px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  position: relative none;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: none !important;
}

.input-group {
  width: 50% !important;
}

.form-control {
  background-color: rgba(240, 248, 255, 0.447) !important;
}

.row {
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.card-title {
  display: flex;
  justify-content: space-around;
}

.poke-img {
  object-fit: cover;
  position: relative;
}

.card {
  width: 280px;
  min-height: 300px;
  display: flex !important;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px;
  padding: 15px;
  border-radius: 4%;
  justify-content: space-between;
}

.card-body {
  flex: unset !important;
  display: flex;
  justify-content: center;
}

.all-pokemon-card-small {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-img {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100px;
}

.card:hover {
  transform: scale(1.1);
  transition: all ease-in-out 250ms;
  cursor: pointer;
  filter: drop-shadow(0 4px 8px rgba(255, 255, 255, 1.1));
}

.card:hover .poke-img {
  filter: drop-shadow(0 4px 8px rgba(255, 255, 255, 1.1));
  transition: all ease-in-out 1000ms;
}

.btn-section {
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.badge {
  border: solid 1px black;
}

.loading-screen {
  display: none;
  /* Standardmäßig ausgeblendet */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 39, 62, 0.95);
  /* Weißer Hintergrund mit Transparenz */
  z-index: 9999;
  /* Über alles andere legen */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-gif {
  width: 300px;
  /* Größe des GIFs anpassen */
  height: auto;
  object-fit: cover;
}

.img-fluid {
  max-width: 65% !important;
}

.progress {
  height: 25px !important;
  background-color: rgba(240, 248, 255, 0.447) !important;
  margin-bottom: 10px;
  border: solid 1px black;
}

.progress-bar {
  background-color: #007bff;
  /* Farbe der Progressbar */
  color: #000000 !important;
  /* Textfarbe */
  overflow: unset !important;
}

@media (max-width: 900px) {
  .content-zone {
    padding: 0 80px !important;
  }

  .input-group {
    width: 70% !important;
  }
}

@media (max-width: 400px) {
  .header-img {
    height: 50px;
  }

  .card {
    margin: 10px;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .input-group {
    width: 100% !important;
  }
}

/* Nur für den großen Bildschirm damit keine Scrolbar entsteht */
@media (min-width: 992px) {
  .img-fluid {
    max-width: 55% !important;
  }
}

/* Scrollbar */

body {
  --sb-track-color: #262333;
  --sb-thumb-color: #5c5898;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}