.header-img {
  height: 60px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.input-group {
  position: relative none;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: none !important;
}

.input-group {
  width: 50% !important;
}

.row {
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.card-title {
  display: flex;
  justify-content: space-around;
}

.poke-img {
  object-fit: cover;
  position: relative;
}

.card {
  width: 280px;
  min-height: 300px;
  display: flex !important;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px;
  padding: 15px;
  border-radius: 4%;
  justify-content: space-between;
}

.card-body {
  flex: unset !important;
  display: flex;
  justify-content: center;
}

.all-pokemon-card-small {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-img {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100px;
}

.card:hover {
  transform: scale(1.1);
  transition: all ease-in-out 250ms;
  cursor: pointer;
  filter: drop-shadow(0 4px 8px rgba(255, 255, 255, 1.1));
}

.card:hover .poke-img {
  filter: drop-shadow(0 4px 8px rgba(255, 255, 255, 1.1));
  transition: all ease-in-out 1000ms;
}

.btn-section {
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}




.type-normal {
  background-color: #A8A77A;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.type-fire {
  background-color: #EE8130;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.type-water {
  background-color: #6390F0;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.type-electric {
  background-color: #F7D02C;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.type-grass {
  background-color: #7AC74C;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.type-ice {
  background-color: #96D9D6;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.type-fighting {
  background-color: #C22E28;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.type-poison {
  background-color: #A33EA1;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.type-ground {
  background-color: #E2BF65;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.type-flying {
  background-color: #A98FF3;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.type-psychic {
  background-color: #F95587;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.type-bug {
  background-color: #A6B91A;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.type-rock {
  background-color: #B6A136;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.type-ghost {
  background-color: #735797;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.type-dragon {
  background-color: #6F35FC;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.type-dark {
  background-color: #705746;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.type-steel {
  background-color: #B7B7CE;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.type-fairy {
  background-color: #D685AD;
  color: white;
  padding: 5px;
  border-radius: 5px;
}