.header-img {
  height: 60px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.input-group {
  position: relative none;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: none !important;
}

/* .row {

}

.pokedex-container {

} */